@import './color', './font';


.text-header {
    font-family: $fontHeader, $fontThai;
    letter-spacing: 0.5rem;
    font-size: 2rem;
    font-weight: 700;
    color: $primary;
}

.text-topic {
    font-family: $fontHeader, $fontThai;
    font-size: 1rem;
    font-weight: 700;
    color: $primary;
}

.text-topic-secondary{
    font-family: $fontHeader, $fontThai;
    font-size: 1rem;
    font-weight: 700;
    color: $info;
}

.text-detail {
    font-family: $fontHeader, $fontThai;
    font-size: 1rem;
}

.topic-border-bottom {
    border-bottom: 2px solid #623574;
    width: 100%;
}

.text-link {
    color: $info;
}

.text-link:hover {
    color: $secondary;
    text-decoration: none;
}

.nav-color{
    background-color: #623574 !important;
    font-family: $fontHeader, $fontThai;
}

.Menu__MenuTrigger {
    cursor: pointer;
}


    .Menu_Border {
        display: inline-block;
        color: #000;
        text-decoration: none;
    }
    
    .Menu_Border::after {
        content: '';
        display: block;
        width: 0;
        height: 2px;
        background: #fff;
        transition: width .3s;
    }
    
    .Menu_Border:hover::after {
        width: 100%;
    }

    